/* Reset CSS */
/* CSS Document */
/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

#wrapper {
    width: 810px;
    box-sizing: content-box;
    min-height: 450px;
    margin: auto;
}

#header{
    width: 100%;
    background: #000;
    clear: both;
}

#main-header{
    height: 300px;
    background: url('../imgs/nosvamos.jpg');
    clear: both;
}

#main-menu{
    height: 50px;
    clear: both;
}

#main-menu > ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
    padding-left: 2px;
}

#main-menu > ul > li{
    display:inline;
}

#main-menu > ul > li > a {
    float:left;
    text-decoration:none;
    color:white;
    background-color:purple;
    padding: 10px 10px 10px 10px;
    border-right:1px solid white;
    height: 30px;
    text-align: center;
    width: 181px;
    font-weight: bold;
}

#main-menu > ul > li > a:hover {
    background-color:#ff3300;
    
}

#content {
    min-height: 450px;
    width: 100%;
    float: left;
    display: block;
    
}

#main-content {
    width: 540px;
    height: auto;
    float: left;
    display: block;
    padding: 10px;
}

#sidebar {
    width: 250px;
    height: 600px;
    float: left;
    display: block;
}

#footer {
    width: 100%;
    height: 50px;
    background: #CCC;
    display: block;
    float: left;
    clear: both;
}

#fb-timeline {
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    border: 1px solid #E8E8E8;
}

#fb-timeline a{
    text-decoration: none;
    color: #292F33;
    font: 16px Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#fb-timeline a:hover {
    text-decoration: underline;
    color: #292F33;
    font: 16px Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.fb-timeline-header {
    box-shadow: 0 0 0 -3px rgba(0, 0, 0, 0);
    padding: 5px 12px;
    transition: box-shadow 0.3s ease-out 0s;
    color: #292F33;
    font: 16px Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.fb-stream {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 225px;
}

.fb-post{
    padding: 5px 8px 6px;
    border-width: 0 0 1px;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0 0 10px 10px;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;   
}

.customisable-border {
    border: 1px solid #E8E8E8;
}

.fanpage-link {
    margin-top: 5px;
}

.full-name {
    margin-top: 9px;
    position: relative;
    top: -20px;
}

.profile-picture {
    border-radius: 5px 5px 5px 5px;
    height: 35px;
    width: 35px;
    margin-top: 5px;
}

.post {
    margin-bottom: 10px;
    border: 1px solid #E8E8E8;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    clear: both;
    display: block;
    margin-top: 10px;
}

.post-message {
    font-size: 12px;
}

.post-link {
    color: #0084B4 !important;
    font-size: 12px !important;
}


.imagen-content{
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 150px;
}

.text-content {
    padding-left: 10px;
}

.paragraph {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 16px;
}

.information {
    font-size: 16px;
    text-align: center;
    margin-top: 16px
}